.App {
  display:flex;
  justify-content: space-around;
  background-color:"";
  border-width: 20px;
  border-color: blue;
  
}
.add-box{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  background-color:yellow;
}
.con-name{
     
}
.con-mobile{
  
}
.con-gender{
 
}
.con-contype{
  
}
.btn-btn{
margin-bottom: 10px;


}
.con-dtn-fema{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  background-color: red;
}



